body {
	/*padding-top: 60px; /* to push the content down from the navbar */
}

.picture-headers {
	text-align: center;
	margin-bottom: 50px;
	font-size: 50px;
}

.picture-container {
	padding: 5px;
}

@media screen and (min-width: 768px) {
	.navbar {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.picture-container:hover {
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		z-index: 1;
	}
	footer {
		margin-top: 100px;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 767px) {
		.navbar-brand {
			margin-top: 20px;
		}
}


/* Styling the navbar */

.navbar-brand {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
}

.navbar-nav > li > a {
	text-transform: uppercase;
	
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	background-color: transparent;
	color: black;
}

.dropdown-menu > li > a:hover {
	color: #065da7;
	background-color: transparent;
	font-size: 15px;
	transition: font-size 0.5s, font-style 0.5s;
}

.dropdown-menu > li > a:focus {
	color: #065da7;
	background-color: transparent;
}


/* Styling the footer */

footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer > p {
	color: #333;
	font-size: 15px;
}

footer > a {
	font-size: 25px;
	color: #065da7;
}
