<div class="container text-center">
	
	<div class="row">
		<div class="col-sm-6">
			<img class="img-responsive" src="images/beatrix.jpg">
		</div>
		<div class="col-sm-6">
			<h1>Hi,</h1>
			<p>My name is Beatrix and I am an artist. I have been attracted to drawing since my childhood, but at that time it was just a hobby for me. I wasn’t sure if I wanted to do art as my profession, as I was interested in many other things like sports or languages. Finally, when I was at the age of seventeen, I decided to study art. At the moment I study at the Metropolitan University in Budapest, specializing in visual representation, later on I would like to study graphic designing. I love drawing fantasy themes and I really enjoy drawing people, or anything I just decide to.</p>
			<p>If you ask me what I want to do in the future… well, I would really like to be a concept artist one day, or a book illustrator... becoming a graphic artist is not a bad idea either….</p>
		</div>
	</div>
	
</div>