<div class="container-fluid">

    <!-- Different image for different size -->

	<div class="col-xs-12 hidden-sm hidden-md hidden-lg home-page">
        <img class="img-responsive" src="images/paintings/colorful-girl.jpg"/>    <!--Mobile-->
    </div>
    <div class="hidden-xs col-sm-12 hidden-md hidden-lg home-page">
        <img class="img-responsive" src="images/paintings/colorful-girl.jpg" />   <!--Tab-->
    </div>
    <div class="hidden-xs hidden-sm col-md-12 hidden-lg home-page">
        <img class="img-responsive" src="images/collage.jpg" />   <!--Desktop-->
    </div>
    <div class="hidden-xs hidden-sm hidden-md col-lg-12 home-page">
        <img class="img-responsive" src="images/collage.jpg" />  <!--Large-->
    </div>

</div>
	
